@import url(//db.onlinewebfonts.com/c/c428a3ca87a613a4e713cd009a9c54a5?family=Replica+ProTT+Heavy);

@font-face {
  font-family: "Replica ProTT Heavy";
  src: url("//db.onlinewebfonts.com/t/c428a3ca87a613a4e713cd009a9c54a5.eot");
  src: url("//db.onlinewebfonts.com/t/c428a3ca87a613a4e713cd009a9c54a5.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c428a3ca87a613a4e713cd009a9c54a5.woff")
      format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.headset {
  opacity: 0;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  user-select: none;
}

.text {
  opacity: 0;
  position: fixed;
  font-size: 1.5em;
  left: 50%;
  top: 85%;
  transform: translate(-50%);
  font-family: "Oswald", sans-serif;
}

.text.white {
  color: white;
}

.text span {
  animation: fadeIn 0.5s infinite ease-out alternate;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .slide.slide1 {
  opacity: 0;
  overflow: hidden;
  z-index: 102;
  background-color: white;
  left: 50%;
  clip: rect(0, auto, auto, 0);
}

.container .slide.slide2 {
  background-color: black;
}

.edge {
  position: inherit;
  width: 20px;
  height: 100%;
  z-index: 100;
  cursor: ew-resize;
}

.edge2 {
  transform: translateX(-100%);
  position: inherit;
  width: 20px;
  height: 100%;
  z-index: 100;
  cursor: ew-resize;
}

.logo {
  opacity: 0;
  position: fixed;
  top: 10px;
  left: 10px;
  transform: translate(-0.5%);
  width: 300px;
  font-family: "Replica ProTT Heavy";
}

.logo.black {
  fill: black;
}

.logo.white {
  fill: white;
}

.logo.white h1 {
  color: white;
}

.colors {
  opacity: 0;
  z-index: 101;
  position: fixed;
  left: 2%;
  top: 15%;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  height: 2.5vh;
  width: 2.5vh;
}

.white-circle {
  border: 1px solid black;
  background-color: white;
}

.black-circle {
  border: 1px solid white;
  background-color: black;
}

.white-click,
.black-click {
  display: flex;
  transition: 0.3s;
}

.white-click {
  margin-bottom: 5%;
}

.white-click:hover,
.black-click:hover {
  color: gray;
}

.slide2 .colors {
  color: white;
}

.colors h1 {
  padding-left: 5%;
  font-family: "Replica ProTT Heavy";
  font-size: 1.5em;
}

.features {
  display: none;
  flex-wrap: wrap;
  width: 32%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  color: white;
}

.features h1 {
  font-family: "Replica ProTT Heavy";
  font-size: 1em;
}

.features p {
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

.feature {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin: 1% 1% 1%;
}

.feature img {
  border-radius: 10%;
  width: 100%;
  max-width: 250px;
}

.feature-text {
  width: 100%;
}

.specifications {
  transform: translateX(0.5%);
  display: none;
  position: fixed;
  top: 25%;
  left: 2%;
  height: 50vh;
  width: 32%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted black;
}

.responsive-features-section {
  height: 46vh;
  background-color: white;
  z-index: 1510505105105;
  position: relative;
}

.responsive-features {
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
}

.responsive-features h1 {
  font-family: "Replica ProTT Heavy";
}

.responsive-features p {
  font-family: "Roboto", sans-serif;
}

.responsive-specifications-section {
  background-color: white;
  height: 54vh;
  z-index: 1510505105106;
  position: relative;
}

.responsive-specifications h1,
.responsive-specifications p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.responsive-specifications {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
}

@media (max-width: 1200px) {
}

@media (max-width: 1366px) {
  .feature {
    align-items: center;
    justify-content: center;
    width: 23%;
  }

  .feature-text h1 {
    text-align: center;
    font-size: 1em;
  }

  .feature-text p {
    font-size: 0.65em;
  }

  .responsive-specifications h1 {
    font-size: 1.2em;
  }

  .responsive-specifications p {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .colors {
    font-size: 0.8em;
  }

  .circle {
    height: 2vh;
    width: 2vh;
  }

  .text {
    font-size: 1em;
  }

  .headset {
    width: 40%;
  }

  .responsive-features-section {
    height: 100vh;
  }

  .responsive-features {
    flex-wrap: wrap;
  }

  .feature {
    justify-content: flex-start;
    width: 48%;
  }

  .responsive-specifications-section {
    height: 100vh;
  }

  .responsive-specifications h1 {
    font-size: 1.2em;
  }

  .responsive-specifications p {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
}
@media (max-width: 768px) and (orientation: landscape) {
  .headset {
    width: 25%;
  }
  .colors {
    top: 30%;
  }
  .circle {
    height: 2vw;
    width: 2vw;
  }
  .responsive-features {
    flex-wrap: nowrap;
  }
  .feature {
    padding-top: 5%;
  }
  .responsive-specifications h1 {
    font-size: 1em;
  }
  .responsive-specifications p {
    font-size: 0.7em;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
